modules = ["nodejs-20", "web", "nix"]
run = "npm run dev"

[nix]
channel = "stable-24_05"

[deployment]
run = ["sh", "-c", "npm run dev"]

[[ports]]
localPort = 9002
externalPort = 80

[[ports]]
localPort = 19000
externalPort = 3000

[workflows]
runButton = "Start Mobile App"

[[workflows.workflow]]
name = "Start Mobile App"
author = 14246877
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm start"

[[workflows.workflow]]
name = "Start Backend"
author = 14246877
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"

[[workflows.workflow]]
name = "Start Backend"
author = 14246877
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "cd backend && python manage.py migrate && python manage.py runserver 0.0.0.0:8000"
